src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="triggerFlow" doc:id="25a15396-5def-4f1c-bac2-6c7a769f4278" >
		<http:listener doc:name="Start synchronization" doc:id="ca1efe4f-1e53-428a-b439-c1d905246a34" config-ref="HTTP_Listener_config" path="/migrateaccounts"/>
		<flow-ref doc:name="Reference to mainFlow" doc:id="9c665dd4-7df3-4e0d-a1eb-01ac63781ce7" name="mainFlow"/>
		<ee:transform doc:name="Build response" doc:id="2abddd58-c707-435a-a004-ec5ba9107429">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
 ---
 {
 	Message: "Batch Process initiated",
 	ID: payload.id,
 	RecordCount: payload.recordCount,
 	StartExecutionOn: payload.creationTime as DateTime
 }
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="mainFlow" doc:id="4f8f22b8-4e2d-49c1-902f-83310988d527" >
		<flow-ref doc:name="Reference to businessLogicFlow" doc:id="62d97cf5-0e14-4573-83c9-3449f499da30" name="businessLogicFlow" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4e5698a1-d32a-4303-a251-7378c38f8c25" type="ANY" >
				<flow-ref doc:name="errorHandlingFlow" doc:id="fc53dd5d-fe43-4c2e-b018-6db84cf5f059" name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow> 
</mule>

